@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.container {
   margin: auto;
   z-index: ;
   width: 400px;
   padding: 12px;
   box-shadow: 2px 3px 12px white;
    background-color: wheat;
}
form {
    padding: 12px;
}
label { 
	display:block;
	font-size: 23px;
    font-family: 'Nunito', sans-serif;
	font-weight: bolder;
}

input[placeholder]{
	color: #333;
	font-family: Ubuntu;

}
button {
    font-family: 'Nunito', sans-serif;
    padding: 12px ;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:active{
    padding:12px ;
    background-color: purple;
}

h1 {
   
   
    font-family: 'Nunito', sans-serif;
    color: #333333;
} 
.alt {
    padding: 22px;
}

a {
    text-decoration: none;
}
input {

    border: none;
    width: 300px;
    outline: none;
    border-bottom: 2px solid #333333;
    padding: 12px 0px;
  background: transparent;
}
body {
   
    background: linear-gradient(120deg, wheat, oldlace);;
}

label {
    color: #333333;
    
}
span {
    font-size: 50%;
}
.background {
    position: absolute;

}