@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.container {
   margin: auto;
   border-radius: 42px;
   padding: 12px;
   color:white;
   /* box-shadow: inset 2px 3px 12px white; */
    /* background-color: rgb(97, 47, 24); */
}
form {
    padding: 12px;
}
label { 
    color: white;
	display:block;
	font-size: 23px;
    font-family: 'Nunito', sans-serif;
	font-weight: bolder;
}
input[placeholder]{
	color: white;
	font-family: Ubuntu;

}
button {
    font-family: 'Nunito', sans-serif;
    padding: 12px ;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:active{
    padding:12px ;
    background-color: purple;
}

h1 {
   
   
    font-family: 'Nunito', sans-serif;
    color:white;
} 
.alt {
    padding: 22px;
}

a {
    text-decoration: none;
}
input[type=file]{
    border: none;
}
input {

    border: 2px solid white;
    /* border-radius:12px; */
    width: 300px;
    outline: none;
    /* border-bottom: 2px solid white; */
    padding: 12px 4px;
  background: transparent;
}
body {
   
    background:rgb(65, 37, 5)
    /* background: linear-gradient(120deg, rgb(71, 36, 7), rgb(97, 67, 12));; */
}
/* 
label {
    color: #;
    
} */
span {
    font-size: 50%;
}
.background {
    position: absolute;

}
.blur {
    -webkit-filter: blur(3px);
}
.successPost {
    background: linear-gradient(128deg, rgba(225, 255,255, 0.9), rgba(220, 220, 220, 1.0));
    text-align: center;
   width: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 12px;
   padding: 12px;
   font-family: 'Nunito', sans-serif;
   box-shadow: 0 0 12px 2px brown;
}
form {
    display: flex;
    /* background: sienna; */
    margin: 12px;
    /* flex-direction: column; */
    justify-content: space-around;
}
.container {
    background: sienna;

}
@media screen and (max-width: 800px){
    form {
        display: block;
    }
}