@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
.system {
background-color: #a44200;
background-image: linear-gradient(315deg, #a44200 0%, #f2c17d 74%);

}

.menu {
	text-align: right;
	padding: 12px;
	display: flex;
	justify-content:space-between;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	color: white;
	background: #5d4037;
}
.menu span {
	cursor: pointer;
	background: #3e2723;
	padding: 12px;
}

.menu .logo img {
	width: 100px;
	border-radius: 50%;
	transform-origin: center;
	animation: rotate 2s infinite ease-in-out alternate;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);

	}to {
		transform: rotate(19deg) rotateX(20deg);
		box-shadow: 0 4px 23px 2px wheat;
	}
	
}
.unstyled {
	text-align: center;
	list-style: none;
	margin: 12px;
}

.unstyled i {
	display: none;
}
.unstyled li {
	transition: 1s;
  padding: 12px;
	background: #4e342e;

}
.unstyled {
		margin-top: -872px;
}
.styled {
	transition: 1.2s;
	margin-top: 9px;
}

.unstyled li a {
	transition: 1s;
	color: white;
	text-decoration: none;
	font-family: 'Poppins';
	font-weight: bolder;
}
.unstyled li:hover {
	border-top: 2px solid wheat;
	background: #795548;
	transition: 1.2s;
	
}
.search-box {
	/* order: 1; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-box input {
	padding: 7px 3px;
	border: 1px solid #795548;
	border-radius: 20px 0 0 20px;
	background: transparent;
}
.search-box input[placeholder] {
	color: #795548;
	font-family: 'Nunito',sans-serif;
	font-weight: bolder;
}
.search-box .cancel-btn {
	display: none;
}
.search-box .search-btn {
background: #4e342e;
	color: white;
padding: 7.8px;
	cursor: pointer;
border-radius: 0px 20px 20px 0px;}
.settings_profile {
	display: flex;

	margin: auto;
	align-items: top;
	justify-content: center;
}
.shift_welcome {
	padding: 12px;
	margin: 12px;
	/* box-shadow: 0 0 12px 8px #efebe9; */
	background: #4e342e;
	color: white;
	font-family: 'Nunito',sans-serif;
	
}
.shift_welcome i {
	display: none;
}
.shift_welcome a {
	color: #efebe9;
	text-decoration: underline;
	
}
.items {
	color: #4e342e;
	margin: 12px;
	font-weight: bolder;
	font-family: 'Nunito', sans-serif;
}
.four_cards {
	display: block;
	margin: auto;
}
.item_info {
	width: 300px;
	background: #795548;
	color: white;
	font-family: 'Nunito', sans-serif;
}

.item_info button {
	padding: 12px;
	width: 300px;
	background: #3e2723;
	border: none;
	cursor: pointer;
	text-decoration: none;
}
.item_info img {
	width: 300px;
	object-fit: cover;
	height: 400px;

}

	.grid-system1 {
		display: block;
		margin-top: 12px;
		justify-content: center;
	}
	.grid-system1 .otherSide {
		background: wheat;
		padding: 32px 12px;
		/* border: 3px solid brown; */
		height: 10%;
   margin: 12px;
		width: 10%px;
		text-align: center;

	}
	.grid-system1 .otherSide h1 {
		text-shadow: -2px -3px #bcaaa4;

		font-family: 'Style Script', sans-serif;
		font-weight: bold;
		font-size: 90px;
	}
	.grid-system1 .otherSide p {
		font-family: 'Poppins', sans-serif;
		font-size: 30px;
	}
.grid-system1 {
	margin-top: 132px;

}.menu .logo {
		display: flex;
		align-items: center;
		color:  wheat;
	}
	.menu .logo h1 {
		padding:  0 8px;
		font-weight: bold;
	}
@media screen and (min-width: 851px) {

	.unstyled {
		margin-top: 9px;
}
.styled {
	transition: 1.2s;
	margin-top: 9px;
}
.shift_welcome {
	width: 400px;
	position: relative;
	left: 35%;
}
.grid-system1 {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
	/* .search-box {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 12px;
	} */
	.settings_profile {
		display: flex;
		justify-content: right;
	}
	.four_cards {
		display: grid;
		grid-template-columns: auto auto auto;
	}
	.unstyled {
		padding: 12px;
background:  #4e342e;
	}
	.unstyled li{
color: black;
		display: inline;
	}
	.unstyled li:hover {
		background: #3e2723;
	}
	.menu span  {
		display: none;
	}
	.unstyled li a {
		color:wheat;
		display: inline;
	}
	.grid-system1 .otherSide {
		width: 30%;
	}
}

.item_info {
	margin: 4px;
}
@media screen and (max-width: 913px) {
	.four_cards {
		display: grid;
		grid-template-columns: auto auto;
	}
	
}

@media screen and (max-width: 472px) {

.four_cards {
	display: block;
}
	}