@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
	margin: 0;
}

.grid {
	padding: 13px;
}

.system {
display: grid;
grid-template-columns: 153px auto auto;
}

.grid-system2 {
	grid-column: 1/2;
	grid-row: 1/4;
}
.side_bar {
	background: wheat;
	border-radius: 20px;
	padding:  11px;
	width: 150px;
}
.side_bar img {
	width: 100px;
	padding: 12px;
	margin: 12px 3px 12px 12px;
}
.grid-system3 {
	grid-column: 2/4;
	display: grid;
	grid-template-columns: auto auto;
}

.list li {
	list-style: none;
	padding: 12px 3px 12px 4px;
	margin: 52px 0;
	color: wheat;
}
.list li:active {
	transition: 400ms;
	color: blue;
}
.list li a {
	text-decoration: none;
	color: #333333;
}
.list li:active{
	transition: 500ms;
	padding: 12px 3px;
	/* margin: 52px 0; */
	border-radius: 12px 0 0 12px;
	background: white;
}

.grid-system1{
	grid-column: 2/4;
	display: flex;
	
	align-items: center;

	justify-content: space-between;
	padding: 12px;
}
.grid-system1 .search_bar {
	padding: 12px;
	display: flex;
}
.search {
	border:  none;
	padding: 9px;
	border-radius: 20px 0 0 20px;
	background: wheat;
	margin-left: 32px;
}
.search_bar input {
	padding: 9.5px 32px 8px 32px;
	border-radius: 0px 20px 20px 0px;
	border: none;
	font-family: 'Nunito', sans-serif;
	outline: none;
	margin-left: -6px;
	background: wheat;
}
.settings_profile {
	display: flex;

	justify-content: space-around;
	align-items: center;
	
}
.settings_profile a, .profile {
	margin: 0px 19px;
	font-family: 'Nunito', sans-serif;
}
.welcome {
	background: url('https://wallpaperaccess.com/full/1155122.jpg');
     background-size: contain;
     background-clip: text;
     color: transparent;
     font-family: Nunito;
     font-size: 23px;
     padding: 12px;
}
.flexd {
	display: flex;
	justify-content: space-around;
}
.shift_welcome {

	width: 500px;
	margin: 12px 12px 4px 10px;
	box-shadow: 0 0 12px 3px wheat;
	border-radius: 23px;
	background: wheat;
}
.flexd a {
	color:  rebeccapurple;
}

@media screen and (max-width: 700px) {
.grid-system1{
	display: block;		
	margin: 0 123px 0 0;
}	
.welcome {
	background: none;
	color: #333333;
}
.shift_welcome {
	text-align: left;
	width: 300px;
	margin: auto;
}
}
.items_head {
	padding: 20px 12px 12px 10px;
}
.item_info {
	background: wheat;
	width: fit-content;
	margin: 0 0 0 10px;
	width: 250px;
	font-family:'Poppins', sans-serif ;
	color: black;
	font-weight: bolder;
	border-radius: 30px;
	line-height: 9px;
		padding: 12px 12px 12px 0px;
}
.item_info .image img {
	object-fit: cover;
	box-shadow: inset 2px 3px 12px 12px grey;
	width: 250px;
	border-radius: 30px 30px 0 0 ;
}

@media screen and (max-width: 702px) {
	.system {
		display: block;
	}
	.menu {
		text-align: center;
		cursor: pointer;

	}
	.side_bar {
		width: 100%;
	box-sizing: border-box;
	max-width: 100%;
	}
	.unstyled {
		display: none;
	}
	.styled {
		transition: 1s;
		display: block;

	}
	.grid-system2 .logo {
		display: none;
	}
	.shift_welcome {
		width: 100%;
	box-sizing: border-box;
	max-width: 100%;
		/* margin: 20px 12px 12px 10px; */
	}
	.grid-system1 .search_bar {
		margin: auto;

	}
	.item_info {
		margin: auto;
	}
	.search_bar {
		padding: 2px;
	}
}