@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: url('../images/shoesbg.jpg');
	
}
.header {
display: flex;
padding: 12px;
background: #795548;
/* background: linear-gradient(128deg,rgba(128,0,128, 0.4),  blanchedalmond, oldlace); */
align-items: center;

}

.store_img img{
	object-fit: cover;
width:200px;
/* box-shadow: 2px 0px 22px 1px #efebe9; */
height:200px;
border:  2px solid #3e2723;
background-size:cover;
background-position:center;
border-radius:50%;}
.store_img img:hover {
	transition: 1.2s;
	cursor: pointer;
transform: rotate3d(6,00, 0, 350deg);
}
.store_info h1,.p {

	color: #efebe9;
	padding: 12px;
	font-family: 'Nunito', sans-serif ;

}
.store_info1{
	box-shadow: 1px 2px 13px 4px white;
}
.store_img1 img{
	object-fit: cover;
	height: 400px;
width: 400px;
background-size: cover;
background-position: center;
border-radius: 12px 0px 0px 12px ;
}
.store_info1 {
	font-family: 'Poppins';
border-radius: 12px;
	padding: 12px;
}
@media screen and (max-width: 700px){
	.store_img1 img{
		width: 200px;
		height: 300px;
	} 
}
.box_aboutStore {
	opacity: 0;
	pointer-events: none;
	display: flex;
	width: 800px;
	position: absolute;
	top: 30%;
	/* border-radius: 12px; */
	border-radius: 12px;
	background: oldlace;
	left: 20%;
	transition: 1.2s;
	
}
.openPop {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	cursor: pointer;
}
.show_aboutStore{
	/* display: flex; */
	transition: 1.2s;
	opacity: 1;
	border-radius: 12px;
	pointer-events: all;
}
@media screen and (max-width: 700px) {
	.header {
		display: block;
		margin: 2px;
		padding: 2px;
	}
	.store_img1 img{
		border-radius: 12px 12px 0px 0px;
	}
	.box_aboutStore {
		position: relative;
		/* top: 420px; */
		width: 100%;
		box-sizing: border-box;
	/* 	right: 42%; */
		display: block;
		margin-left: 40px;
		transition: 1s;
		width: fit-content;
		height: auto;
	}
	.store_info1{
		border: none;
		
	}
	
}
@media screen and (max-width: 816px) {
	.box_aboutStore {
		position: relative;
		margin: auto;
		display: block;
		border-radius: 12px;
	top: 30%;
	left: 1%;
	}
	
}
@media screen and (max-width: 450px) {
	.box_aboutStore img {
		width: 100%;
		
	}
	.box_aboutStore {
		width: 302px;
	}
	.store_img1 {
		width: 300px;
		height: 300px;
		object-fit: cover;
	}
	
}

.btns {
	display: flex;
	justify-content: space-around;
	text-align: left;
}
.btns button {
	border: none;
	background: #ce93d8;
	padding: 8px;
	cursor: pointer;
	font-family: 'Poppins';
}
.btns button:active {
	background: #e1bee7;

}
.storeDeletedi {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background: white;
	padding: 24px 54px;
	border-radius: 23px;
	box-shadow: 0 0 12px 12px grey;
	display: none;

}

.page2{
	font-family: 'Poppins',sans-serif;
	text-align: center;

}

@media (max-width: 780px) {
	.page2 {
		position:  relative;
	top: -500px;
	z-index: 1;
	}
}
.page2 label {
	display: block;
	font-family: 34px;
	font-weight: bolder;
	padding: 12px;
}
.page2 input {
	display: block;
	margin: auto;
	padding: 8px 0;
	outline: none;
}
.page2 button {
	border: none;
	background: plum;
	padding: 12px;
	cursor: pointer;
}
.page2 button:active {
	background: whitesmoke;
}
.storeImagePost{
	margin: 3px;
}
.storeImagePost img {

	width: 300px;
	height: 300px;
	object-fit: cover;
}
.storeViewPost {
	margin: 12px;
	font-family: 'Nunito',sans-serif;
	/* text-align: center; */
	display: grid;
	grid-template-columns:auto auto auto auto;
}
@media (max-width: 1000px) {
	.storeViewPost {
		grid-template-columns: auto auto auto;
	}
	
}
@media (max-width: 700px) {
	.storeViewPost {
		grid-template-columns: auto auto;
	}
	
}
@media (max-width: 526px) {
	.storeViewPost {
		display: block;
		text-align: center;
	}
	
}
.storePost {
	display: none;
}
.showPostyeah{
	display: block;
}
.displayNot {
	display: none;
}
.priceh{
	font-weight: bolder;
	background: #efeb34;
	width: 200px;
	margin: auto;
	padding: 8px;
}