@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');



.container {
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-top: 10%;
    transform: translateX(50%);
    background-color: white;
}
form {
    align-items: center;
    justify-content: center;
    padding-left:20% ;
    /* padding: 5%; */
}
label { 
	display:block;

    color: #333333;

	/* font-family: Ubuntu; */
	font-size: 23px;
    font-family: 'Nunito', sans-serif;
	font-weight: bolder;
}
form {
	background: linear-gradient(120deg, aqua, purple);
	/* padding:  45px; */
	width: 400px;
	color: transparent;
	background-clip: text;
}
input {
	padding: 12px 4px;
	color: transparent;
	width: 400px;
	outline: none;
	border: none;
	border-bottom: 2px solid black;
}
input[placeholder]{
	color: rgb(88, 131, 173);
	font-family: Ubuntu;
}

button {
    width: 35%;
    padding: 3% ;
    align-items: center;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    transform: translateX(50%);
}
.foot {
    background: linear-gradient(120deg, aqua, purple);
    font-size: 340%;
    /* display: flex; */
    align-items: center;  
    /* transform: translateX(35%); */
    width: 43%;
    /* /* padding-left: 10%; *position */
    position: absolute;
    left: 25.5%;
    padding-left:90px;
}
/* input:hover {
    box-shadow: 2px 3px 4px 3px rgb(90, 64, 175);
    
} */
body {
   
    background: linear-gradient(120deg, aqua, purple);;
}
.successPost {
    background: white;
    text-align: center;

}